* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    .menu {
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 21px 30px 14px 23px;
        justify-content: space-between;
        background: #FBF7F3;

        .menu__navigation {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 663px;
            height: 54px;
            background-color: #FFFFFF;
            border-radius: 9999px;
            
            .menu__item {
                text-decoration: none;
                color: #8D867C ;
                background-color: #FFFFFF;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
            }

            .menu__item:hover {
                color: #49464F;
            }

            .menu__button  {
                cursor: pointer;
                background: #7140EB;
                border-radius: 9999px;
                height: 40px;
                width: 176px;
                border: none;
                color: #FBF7F3;
            }
        }
    }

    .subscribe {
        display: flex;
        background: url(../img/sec1bcg.png) no-repeat center center;
        height: 420px;
    
        .subscribe__container {
            text-align: center;
            max-width: 1440px;
            margin: 0 auto;
            padding-top: 83px;
            padding-bottom: 80px;
            color:  #FBF7F3;

            .subscribe__title {
                font-style: normal;
                font-weight: normal;
                font-size: 5em;
                line-height: 90px;
                letter-spacing: 2.7px;
            }

            .subscribe__text {
                margin: 0 auto;
                width: 380px;
                font-style: normal;
                font-weight: normal;
                font-size: 1em;
                line-height: 18px;
                padding: 26px 0;
            }

            .subscribe__button {
                cursor: pointer;
                background: #7140EB;
                border-radius: 9999px;
                width: 186px;
                height: 45px;
                border: none;
                color: #FBF7F3;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .move {
        max-width: 1440px;
        margin: 0 auto;
        background: url(../img/sec2bcg.png) no-repeat center center;
        height: 800px; 

        .move__container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 90px;
            padding-right: 52px;
            color: #FBF7F3;

            .move__title {
                font-style: normal;
                font-weight: normal;
                font-size: 93px;
                line-height: 112px;
            }

            .move__subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 29px;
                line-height: 28px;
            }
        }
    }

    .ride {
        background: #FBF7F3;

        .ride__container {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1440px;

            .ride__info {
                width: 440px;

                .ride__title {
                    text-align: center;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 82px;
                    line-height: 81px;
                    letter-spacing: 2.7px;
                    color: #49464F;
                    padding-bottom: 40px;
                }

                .ride__subtitle {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    color: #8172A2;
                }

            }

            .ride__bike {
                display: flex;
                align-items: center;

                .ride__img {
                   >img {
                    width: 100%;
                   }
                }

                .ride__descripton {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    color: #8172A2;

                    .ride__item {
                        padding-top: 30px;
                    }

                }
            }
        }
    }

    .built {
        background: #FBF7F3;

        .built__container {
            max-width: 1440px;
            margin: 0 auto;
            text-align: center;

            .built__title {
                font-style: normal;
                font-weight: normal;
                font-size: 83px;
                line-height: 81px;
                text-align: center;
                letter-spacing: 2.7px;
                color: #49464F;
            }

            .built__subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;                
                color: #8172A2;
                padding-top: 20px;
            }


            .built__img {
                >img {
                    width: 100%;
                }
            }
        }
    }

    .info {
        background: #FBF7F3;

        .info__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 1440px;
            margin: 0 auto;
           
            .info__block {
                margin: 0 auto;
                width: 321px;
                padding: 50px 0;

                .info__title {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 36px;
                    color: #2E2C34;
                    padding-bottom: 10px;
                }

                .info__discription {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 23px;
                    padding-top: 22px;  
                    color: #49464F;
                }

                .info__img {
                    width: 100%;
                    height: 214px;
                    >img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .trevel {
        max-width: 1440px;
        margin: 0 auto;
        background: url(../img/sec3.png) no-repeat center center;
        height: 921px;

        .trevel__container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 90px;
            padding-right: 52px;
            color: #FBF7F3;

            .trevel__title {
                font-style: normal;
                font-weight: normal;
                font-size: 93px;
                line-height: 112px;
            }

            .trevel__subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 29px;
                line-height: 28px;
            }
        }
    }

    .stay {
        max-width: 1440px;
        background: url(../img/sec4.png) no-repeat ;
        padding-top: 125px;
        margin: 0 auto;
        .stay__container {
            text-align: center;
            margin: 0 auto;
          .stay__title {
            font-style: normal;
            font-weight: normal;
            font-size: 82px;
            line-height: 81px;
            letter-spacing: 2.7px;
            color: #49464F; 
          }

          .stay__subtitle {
            margin: 0 auto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 22px;
            color: #8172A2;
            padding-top: 62px;
            width: 400px;
          }

          .stay__info {
            display: flex;
            flex-wrap: wrap;

            .stay___block {
                width: 296px;
                height: 296px;
                margin: 0 auto;
                // margin-right: 60px;
                margin-top: 100px;
                .stay__img {
                    >img {
                        width: 100%;
                    }
                }
                .stay__description {
                    padding-top: 20px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 27px;
                    /* or 123% */


                    color: #49464F;
                }
              }
          }
        }
    }

    .join {
        display: flex;
        background: #FBF7F3;
        height: 870px;
       
        .join__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        
            .join__title {
                text-align: center;
                font-style: normal;
                font-weight: normal;
                font-size: 81px;
                line-height: 81px;
                text-align: center;
                letter-spacing: 2.7px;
                color: #49464F;
            }

            .join__subtitle {
                padding-top: 20px;
                text-align: center;
                margin: 0 auto;
                width: 510px;
            }


            .join__right {
                width: 360px;
                >img {
                    width: 100%;
                }
            }

            .join__left {
                width: 360px;
                >img {
                    width: 100%;
                }
            }
        
        }
    }

}